@media (min-width: 1080px) {
    body {
        background-color: var(--clr-neutral-700);
        width: auto;
    }

    .title {
        font-size: var(--fs-title-desktop);
    }
    
    .attribution {
       background: var(--clr-neutral-100); 
    }

    .main {
        padding: 6% 15%;
    }

    .newsletter {
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        align-items: center;
        background: var(--clr-neutral-100);
        border-radius: 24px;
    }

    .newsletter__img--desktop {
        display: block;

        border-radius: 8px;
        padding: 1.2em;
        padding-left: 0;
    }

    .newsletter__img--mobile {
        display: none;
    }

    .newsletter__info {
        padding: 0 4em;
    }

}