@media (min-width: 500px) {
    .newsletter__img--mobile {
        max-width: 442.39px;
        object-fit: contain;
    }
    .newsletter__info {
        padding-left: 0;
        padding-right: 0;
    }
    
    .attribution {
        border-bottom: 1px solid var(--clr-neutral-900);
    }
}