* {

    /* Reset */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';


    /* Colours */

    --clr-primary: hsl(4, 100%, 67%);
    --clr-secondary: hsl(350, 100%, 67%);

    --clr-error-200: hsla(350, 100%, 67%, 0.2);
    --clr-error-400: var(--clr-secondary);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(231, 7%, 60%);
    --clr-neutral-700: hsl(235, 18%, 26%);
    --clr-neutral-900: hsl(234, 29%, 20%);


    /* Typography */

    --fs-title: 2.2rem;
    --fs-body: 1rem;
    --fs-caption: 0.8rem;

    --fs-title-desktop: 3.55rem;
}